<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_header('Error - Hokidachi Admin', 'none')" />
</head>
<body>
<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>
  <div class="m-3">
    <h2>Xin lỗi, bạn không có quyền truy cập trang này</h2>
  </div>
  <div th:replace="fragments :: footer"></div>
</div>
</body>
</html> 