<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_header('User - Hokidachi Admin', 'none')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Quản lý người dùng</h2>
        <a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
        <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
        <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
        <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message" ></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th class="hideable-column">
                        <th th:replace="fragments :: column_link('id','ID', 'tag')" />
                    </th>
                    <th>Photo</th>
                    <th class="hideable-column">
                        <th th:replace="fragments :: column_link('email','Email', 'tag')" />
                    </th>
                    <th th:replace="fragments :: column_link('firstName','Tên', 'none')" />
                    <th th:replace="fragments :: column_link('lastName','Họ và tên đệm', 'none')" />
                    <th>Vai trò</th>
                    <th th:replace="fragments :: column_link('enabled','Kích hoạt', 'none')" />
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td class="hideable-column">[[${user.id}]]</td>
                    <td>
                        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                        style="width: 100px"/>
                    </td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"/>
                    </td>
                    <td>
                        <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"/>
                        &nbsp;&nbsp;
                        <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="user : ${listUsers}" class="row m-1">
            <div class="col-4">
                <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px">
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"/>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('users')"></div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">
    $(document).ready(function (){
        $(".link-delete").on("click",function (e){
            e.preventDefault();
            let link = $(this);
            //alert($(this).attr("href"));
            let entityId = link.attr("entityId");
            $("#yesButton").attr("href",link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this user ID " + entityId + "?") ;
            $("#confirmModal").modal();
        })
    })

    function clearFilter(){
        window.location = "[[@{/users}]]";
    }
</script>
</body>
</html>