<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Id đặt hàng:</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" th:value="${order.id}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Khách hàng:</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" th:value="${order.customer.fullName}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Chi phí sản phẩm:</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{productCost}" required class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Giá tiền:</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{subtotal}" required class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Giá vận chuyển:</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{shippingCost}" required class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Thuế:</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{tax}" required class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tổng tiền:</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{total}" required class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Phương thức thanh toán:</label>
    <div class="col-sm-10">
      <select th:field="*{paymentMethod}" class="form-control" required style="max-width: 150px">
        <option th:each="pm : ${T(com.hokidachi.common.entity.order.PaymentMethod).values()}"
                th:value="${pm}" th:text="${pm}" />
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Trạng thái:</label>
    <div class="col-sm-10">
      <select th:field="*{status}" class="form-control" required style="max-width: 150px">
        <option th:each="os : ${T(com.hokidachi.common.entity.order.OrderStatus).values()}"
                th:value="${os}" th:text="${os}" />
      </select>
    </div>
  </div>
</div>