<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_header('Verification Failed!', 'none')" />

<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div>&nbsp;</div>

    <div class="text-center">
        <h2>Xác minh khách hàng</h2>
        <h4>Tài khoản của bạn đã được xác minh hoặc mã xác minh không hợp lệ.</h4>
    </div>

    <div>&nbsp;</div>
  
    <div th:replace="navigation :: footer_menu"></div>
</div>

</body>
</html>