<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments :: page_header(${pageTitle}, 'none')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Quản lý giá vận chuyển | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/shipping_rates/save}" method="post"
          style="max-width: 780px; margin: 0 auto"
          th:object="${rate}">
        <input type="hidden" th:field="*{id}" />

        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Đến thành phố:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{city}">
                        <option th:each="city: ${listCities}" th:value="${city.id}">[[${city.name}]]</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Đến quận/huyện:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{district}" class="form-control"
                           maxlength="64" minlength="3" list="listDistricts" required>
                    <datalist id="listDistricts"></datalist>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tỷ lệ vận chuyển (Mỗi đơn vị cân nặng):</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{rate}" step="0.01" class="form-control"
                           required min="0">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Số ngày giao hàng:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{days}" step="1" class="form-control"
                           required min="0">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Giao hàng thu tiền hộ (COD):</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{codSupported}">
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3">
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>
        </div>

    </form>

    <div th:replace="modal_fragments :: modal_dialog"></div>

    <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    moduleURL = "[[@{/shipping_rates}]]";
</script>

<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/common_form_city_district.js}"></script>
</body>
</html>
