<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments :: page_header('Shipping Rates - Hokidachi Admin', 'none')" />
<body>
<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>
  <div>
    <h2>Quản lý giá vận chuyển</h2>

    <a th:href="@{/shipping_rates/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
  </div>

  <div th:replace="fragments :: search_form_and_message"></div>

  <div class="full-details">
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="thead-dark">
      <tr>
        <th th:replace="fragments :: column_link('id','ID', 'none')" />
        <th th:replace="fragments :: column_link('city','Thành phố', 'none')" />
        <th th:replace="fragments :: column_link('district','Quận/huyện', 'none')" />
        <th th:replace="fragments :: column_link('rate','Tỷ lệ', 'none')" />
        <th th:replace="fragments :: column_link('days','Số ngày', 'none')" />
        <th th:replace="fragments :: column_link('codSupported','hỗ trợ COD', 'none')" />
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="rate : ${shippingRates}">
        <td>[[${rate.id}]]</td>
        <td>[[${rate.city.name}]]</td>
        <td>[[${rate.district}]]</td>
        <td>[[${rate.rate}]]</td>
        <td>[[${rate.days}]]</td>
        <td>
          <div th:replace="shipping_rates/shipping_rates_fragment :: cod_support"/>
        </td>
        <td>
          <div th:replace="fragments :: edit('shipping rate', '/shipping_rates/edit/' + ${rate.id})"/>
          &nbsp;
          <div th:replace="fragments :: delete('shipping rate', ${rate.id}, '/shipping_rates/delete/' + ${rate.id}, true)"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="less-details">
    <div th:each="rate : ${shippingRates}" class="row m-1">
      <div class="col-4">
        <span><b>[[${rate.city.name}]]</b></span>
        <br/>
        <span>[[${rate.district}]]</span>
      </div>
      <div class="col-8">
        <div>
            <div th:replace="shipping_rates/shipping_rates_fragment :: cod_support"/>
            &nbsp;
            <div th:replace="fragments :: edit('shipping rate', '/shipping_rates/edit/' + ${rate.id})"/>
            &nbsp;
            <div th:replace="fragments :: delete('shipping rate', ${rate.id}, '/shipping_rates/delete/' + ${rate.id}, true)"/>

        </div>
      </div>
      <div>&nbsp;</div>
    </div>
  </div>

  <div th:replace="fragments :: pagination('shipping rates')"></div>

  <div th:replace="modal_fragments :: confirm_modal"></div>

  <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">
  moduleURL = "[[@{/shipping_rates}]]";

  $(document).ready(function(){
    $(".link-delete").on("click",function(e){
      e.preventDefault();
      showDeleteConfirmModal($(this),'shipping rate');
    });
  });
</script>
<script th:src="@{/js/common_list.js}"></script>
</body>
</html>