<div class="modal-header">
  <h4 class="modal-title">Chi tiết khách hàng</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab">Tổng quan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab">Địa chỉ nhà</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane active p-3" id="general" role="tabpanel">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">ID khách hàng:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.id}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Họ và tên</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.fullName}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">E-mail:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.email}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Số điện thoại:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.phoneNumber}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kích hoạt:</label>
        <div class="col-sm-8">
          <input type="checkbox" th:checked="${customer.enabled}" disabled />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Thời gian tạo:</label>
        <div class="col-sm-8">
          <span th:text="${#dates.format(customer.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
      </div>
    </div>

    <div class="tab-pane p-3" id="address" role="tabpanel">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Địa chỉ 1.:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.addressLine1}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Địa chỉ nhà 2:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.addressLine2}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Xã:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.village}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Quận/huyện:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.district}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Thành phố:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.city.name}" readonly/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Post Code:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:value="${customer.postalCode}" readonly/>
        </div>
      </div>
  </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>