<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">

<body>
  <div th:fragment="content" th:remove="tag">
    <div class="row" id="divProductImages">
      <div class="col border m-3 p-2">
        <div><label>Ảnh chính: [[${product.mainImage}]]</label></div>
        <div class="m-2">
          <img id="thumbnail" alt="main image preview" class="img-fluid"
               th:src="@{${product.mainImagePath}}"/>
        </div>
        <div>
          <input type="file" id="fileImage" name="fileImage"
                 th:required = "${product.mainImage == null}"
                 accept="image/png, image/jpeg" />
        </div>
        <input type="hidden" th:field="*{mainImage}" />
      </div>

      <th:block th:each="productImage, status : ${product.images}">
        <div class="col border m-3 p-2" th:id="'divExtraImage' + ${status.index}">
          <div>
            <label>ảnh khác #[[${status.index + 1}]]: [[${productImage.name}]]</label>
            <a name="linkRemoveExtraImage" class="btn fas fa-times-circle fa-2x icon-dark float-right"
               title="Remove this Image"></a>
          </div>
          <div class="m-2">
            <img th:id="'extraThumbnail' + ${status.index}" th:alt="'Extra image #' + ${status.index + 1} + ' preview'" class="img-fluid"
                 th:src="@{${productImage.imagePath}}"/>
          </div>
          <div>
            <input type="file" name="extraImage" accept="image/png, image/jpeg" />
          </div>

          <input type="hidden" name="imageIDs" th:id="'imageId' + ${status.index}"
                 th:value="${productImage.id}"/>
          <input type="hidden" name="imageNames" th:id="'imageName' + ${status.index}"
                 th:value="${productImage.name}"/>
        </div>
      </th:block>

      <div class="col border m-3 p-2" th:id="'divExtraImage' + ${numberOfExistingExtraImages}">
        <div th:id="'extraImageHeader' + ${numberOfExistingExtraImages}">
          <label>Ảnh khác #[[${numberOfExistingExtraImages} + 1]]:</label>
        </div>
        <div class="m-2">
          <img th:id="'extraThumbnail' + ${numberOfExistingExtraImages}"
               th:alt="'Extra image #' + ${numberOfExistingExtraImages + 1} + ' preview'" class="img-fluid"
               th:src="@{/images/image-thumbnail.png}"/>
        </div>
        <div>
          <input type="file" name="extraImage" accept="image/png, image/jpeg" />
        </div>
      </div>
    </div>
  </div>

</body>
</html>