<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">

<body>
<div th:fragment="content" th:remove="tag">
  <div class="m-2">
    <label>Mô tả ngắn</label>
    <textarea class="form-control" th:field="*{shortDescription}" rows="5" required></textarea>
  </div>
  <div class="m-2">
    <label>Full Description</label>
    <textarea class="form-control" th:field="*{fullDescription}" rows="10" required></textarea>
  </div>
</div>

</body>
</html>