<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">

<body>
<div th:fragment="content" id="divProductDetails">
  <th:block th:each="detail, status : ${product.details}">
    <div class="form-inline" th:id="'divDetail' + ${status.index}">
      <input type="hidden" name="detailIDs" th:value="${detail.id}" />
      <label class="m-3">Tên:</label>
      <input type="text" name="detailNames" class="form-control w-25" maxlength="255"
             th:value="${detail.name}"/>
      <label class="m-3">Giá trị:</label>
      <input type="text" name="detailValues" class="form-control w-25" maxlength="255"
             th:value="${detail.value}"/>
      <a name="linkRemoveDetail" class="btn fas fa-times-circle fa-2x icon-dark float-right"
         title="Remove this Image"></a>
    </div>
  </th:block>
  <div class="form-inline" th:id="'divDetail' + ${#lists.size(product.details)}">
    <input type="hidden" name="detailIDs" value="0" />
    <label class="m-3">Name:</label>
    <input type="text" name="detailNames" class="form-control w-25" maxlength="255" />
    <label class="m-3">Value:</label>
    <input type="text" name="detailValues" class="form-control w-25" maxlength="255" />
  </div>
</div>

</body>
</html>