<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content" th:remove="tag">
  <div>
    <p>
      Sử dụng trang này để quản lý các thành phố sẽ được hiển thị trong mẫu đăng ký của khách hàng.
      Nhấp vào Tải danh sách thành phố đầu tiên.
    </p>
  </div>
  <div>
    <input type="button" value="Load City List" id="buttonLoadCities" class="btn btn-primary m-2">
  </div>
  <div>
    <select class="form-control m-2" style="height:300px" size="3" id="dropDownCities">
    </select>
  </div>

  <form id="formCity">
    <div class="form-group row ml-2">
      <label class="col-form-label mt-2" id="labelCityName">tên thành phố:</label>
      <div class="col-md">
        <input type="text" class="form-control mt-2" id="fieldCityName" required minlength="3" maxlength="45">
      </div>
      <label class="col-form-label mt-2">Code:</label>
      <div class="col-md">
        <input type="text" class="form-control mt-2" id="fieldCityCode" required minlength="2" maxlength="3">
      </div>
      <div class="col-lg-4 mt-2">
        <input type="button" id="buttonAddCity" value="New" class="btn btn-secondary mr-2">
        <input type="button" id="buttonUpdateCity" value="Update" class="btn btn-secondary mr-2" disabled="disabled">
        <input type="button" id="buttonDeleteCity" value="Delete" class="btn btn-secondary" disabled="disabled">
      </div>
    </div>
  </form>

</div>
</body>
</html>